{% extends "base_business.html" %}
{% block content %}
<section class="form-panel">
  <p class="eyebrow">Security Action</p>
  <h1>Reset Temporary Password</h1>
  <p>{{ target.user.username }} will be blocked from normal Business activity until choosing a private password.</p>
  <form method="post" novalidate>
    {% csrf_token %}
    {% include "includes/form_errors.html" %}
    {{ form.as_p }}
    <button class="button warning" type="submit">Reset Temporary Password</button>
  </form>
</section>
{% endblock %}
